[submodule ".config/nvim/pack/plug/start/fzf-lua"]
	path = .config/nvim/pack/plug/start/fzf-lua
	url = git@github.com:ibhagwan/fzf-lua.git
[submodule ".config/nvim/pack/plug/start/nvim-fzf"]
	path = .config/nvim/pack/plug/start/nvim-fzf
	url = git@github.com:vijaymarupudi/nvim-fzf.git
[submodule ".config/nvim/pack/plug/start/nvim-lspconfig"]
	path = .config/nvim/pack/plug/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule ".config/nvim/pack/plug/start/vim-commentary"]
	path = .config/nvim/pack/plug/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".config/nvim/pack/plug/start/vim-repeat"]
	path = .config/nvim/pack/plug/start/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule ".config/nvim/pack/plug/start/vim-sleuth"]
	path = .config/nvim/pack/plug/start/vim-sleuth
	url = git@github.com:tpope/vim-sleuth.git
[submodule ".config/nvim/pack/plug/start/vim-surround"]
	path = .config/nvim/pack/plug/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".config/nvim/pack/plug/start/vim-dirvish"]
	path = .config/nvim/pack/plug/start/vim-dirvish
	url = git@github.com:justinmk/vim-dirvish.git
